@page
@model Events.RazorWebApp.Pages.TicketPage.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Ticket.TicketId" />
            <div class="form-group">
                <label asp-for="Ticket.Code" class="control-label"></label>
                <input asp-for="Ticket.Code" class="form-control" />
                <span asp-validation-for="Ticket.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.Qrcode" class="control-label"></label>
                <input asp-for="Ticket.Qrcode" class="form-control" />
                <span asp-validation-for="Ticket.Qrcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.ParticipantName" class="control-label"></label>
                <input asp-for="Ticket.ParticipantName" class="form-control" />
                <span asp-validation-for="Ticket.ParticipantName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.ParticipantMail" class="control-label"></label>
                <input asp-for="Ticket.ParticipantMail" class="form-control" />
                <span asp-validation-for="Ticket.ParticipantMail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.ParticipantPhone" class="control-label"></label>
                <input asp-for="Ticket.ParticipantPhone" class="form-control" />
                <span asp-validation-for="Ticket.ParticipantPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.SpecialNote" class="control-label"></label>
                <input asp-for="Ticket.SpecialNote" class="form-control" />
                <span asp-validation-for="Ticket.SpecialNote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.TicketType" class="control-label"></label>
                <select asp-for="Ticket.TicketType" asp-items="Model.TicketTypes" class="form-control">
                    <option value="" disabled selected>-- Select Ticket Type --</option>
                </select>
                <span asp-validation-for="Ticket.TicketType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.Status" class="control-label"></label>
                <select asp-for="Ticket.Status" asp-items="Model.Statuses" class="form-control">
                    <option value="" disabled selected>-- Select Status --</option>
                </select>
                <span asp-validation-for="Ticket.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
